<h1>Articles#index</h1>

<p><%= link_to 'home', controller: 'welcome', action: 'index' %></p>
<p><%= link_to 'new', new_article_path %></p>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Titre</th>
			<th>Texte</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |art| %>
		<tr>
			<td><%= art.id %></td>
			<td><%= link_to art.title, article_path(art) %></td>
			<td><%= art.text %></td>
		</tr>
		<% end %>
	</tbody>
</table>
